@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-custom2{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.soon {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 90%);
  -webkit-mask-size: 200%;
  -webkit-animation: App-logo-spin  infinite 0.8s linear;
          animation: App-logo-spin  infinite 0.8s linear;
}
.glow{
  animation: Glow 2s ease-in-out infinite alternate;
}
.colors{
  animation: Colors 2s ease-in-out infinite alternate;
}
.audios{
 background-color: black;
width: 110px;
opacity: 1;
border: 0;
outline: 0;
box-shadow: none;
position: absolute;
border-radius: 0;
bottom: -5px;
left: -30px;
}
audio::-internal-media-controls-overflow-button {
  display:none;
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: red;
}
audio::-webkit-media-controls-panel {
  background-color: black;
  border:0;
  border-radius: 0;
  padding:20px;
  height:0;
  outline: 0;
  box-shadow: none;
  width: 10px;
  opacity:1;
}
audio::-webkit-media-controls-mute-button {
  display: none;
}

audio::-webkit-media-controls-play-button{
  display: block;
  position: absolute;
  -webkit-appearance: media-mute-button;
  opacity: 1;
  top: 10px;
  left: 30px;
  color:White;
  z-index: 999999;
  background-color: white;
  border-radius: 50%;
}
audio::-webkit-media-controls-enclosure{
  background-color: black;
}
audio::-webkit-media-controls-timeline-container{
  display: none;
  border-radius: 0;

}

audio::-webkit-media-controls-current-time-display{
  display: none;

}

audio::-webkit-media-controls-time-remaining-display{
  display: none;
}

audio::-webkit-media-controls-timeline{
  display: none;
}

audio::-webkit-media-controls-volume-slider-container{
  display: none;
}

audio::-webkit-media-controls-volume-slider{
  display: none;
}

audio::-webkit-media-controls-seek-back-button{
  display: none;
}

audio::-webkit-media-controls-seek-forward-button{
  display: none;
}

audio::-webkit-media-controls-fullscreen-button{
  display: none;
}

audio::-webkit-media-controls-rewind-button{
  display: none;
}

audio::-webkit-media-controls-return-to-realtime-button{
  display: none;
}

audio::-webkit-media-controls-toggle-closed-captions-button{
  display: none;
}
#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height:40px;
  width: 40px;
  padding: 12px 18px;
  z-index: 2;
    background-image: url(assets/sound.svg);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:20px;
  background-color: gainsboro;
}
.play {
  background-image: url(assets/sound.svg);
}
.pause {
   background-image: url(assets/sound.svg)!important;
}
@keyframes Glow {
  from {
    text-shadow: 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;
  }
}
@keyframes Colors {
  from {
    color:#da5fc5;
  }
  
  to {
    color:#fff;
  }
}
@keyframes App-logo-spin {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

@font-face {
  font-family: "Custom-1";
  src: url("./fonts/Webfonts/Gore-Rough.woff");
}
@font-face {
  font-family: "Custom-2";
  src: url("./fonts/Webfonts/Okami.woff");
}
